# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/firebase_app_id_file.json
lib/firebase_options.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# Windows
windows/flutter/ephemeral/

# Installer output
installer_output/

# Misc
.DS_Store
*.log
.env
